*{
  color: #e74c3c;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  background: url('../img/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

#ui {
  margin: 150px 50px 0 50px;
  padding: 50px;
  background-color: #bdc3c7;
  border-radius: 14px;
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.75);

}

.titleHead {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

label {
  text-transform: uppercase;
  color: #2c3e50;
  font-weight: 600;
}

button {
  text-transform: uppercase;
}

.form-control {
  background-color: #A1A1A1;
  color: black;
  outline: none;
  border: none;
  border-radius: 0;
  margin-bottom: 10px;
  height: 50px;

}

.custom-select {
  background-color: #A1A1A1;
  border-bottom: 2px solid #2d3436;
  font-size: 150%;
  font-weight: 200;

}

option {
  background-color: #f7f1e3;
  color: black;
  font-size: 100%;
  font-weight: 200;

}

.form-control[type="text"]{
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #2d3436;
  padding-right: 5px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 200;
}

.reg{
  background-color: #b33939;
  border-radius: 0 0 14px 14px;
  color: #ecf0f1;
  font-size: 150%;
  font-weight: 400;
  text-transform: uppercase;
}

.reg:hover{
  color: #ecf0f1;
  background-color: #8f3030;
}

#privacyDetails ,.modal-body p{
  color: #2d3436;
}

#privacyDetails {
  color: #c0392b;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

b {
  color:#e74c3c;
}

.text-muted {
  font-weight: 400;
}
