* {
  color: #e74c3c;
}

html, body {
  background: url('../img/Background.png');
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-height: 100vh;
  background-size: contain;
  font-family: Arial, Helvetica, sans-serif;
}

#ui {
  margin-top: 27.5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  background-color: #e5e5e5;
  border-radius: 14px;
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.75);

}

.titleHead {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

label {
  text-transform: uppercase;
  color: #2c3e50;
  font-weight: 600;
}

button {
  text-transform: uppercase;
}

.form-control {
  background-color: #A1A1A1;
  color: black;
  outline: none;
  border: none;
  border-radius: 0;
  margin-bottom: 10px;
  height: 50px;

}

.custom-select {
  background-color: #A1A1A1;
  border-bottom: 2px solid #2d3436;
  font-size: 150%;
  font-weight: 200;

}

option {
  background-color: #f7f1e3;
  color: black;
  font-size: 100%;
  font-weight: 200;

}

.form-control[type="text"]{
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #2d3436;
  padding-right: 5px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 200;
}

a#submit {
  color: #ecf0f1;
}

.reg{
  background-color: #b33939;
  border-radius: 0 0 14px 14px;
  color: #ecf0f1;
  font-size: 150%;
  font-weight: 400;
  text-transform: uppercase;
}

.reg:hover{
  color: #ecf0f1;
  background-color: #8f3030;
}
